{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<header>
		{% include "home/navbar.html.twig" %}
	</header>

	<section class="header p-0 m-0 z-2 position-relative">
		<div class="header-image h-100 w-100  d-flex justify-content-center align-items-center">
		</div>
	</section>
	<div class="container-fluid">
		<div class="row row-cols-2 row-cols-lg-3 m-1">
			{% for mark in marks %}
				<div class="d-flex flex-column">
					<div class="col bg-white border rounded border-info shadow-lg border-3 d-flex flex-row align-items-center justify-content-between align-content-center p-1 p-md-2 p-lg-4 my-2">
						<a href="{{ path('app_mark', { 'id': mark.id }) }}">
							<img src={{mark.url}} class="card-img-top image-hover" alt={{mark.name}}>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% include "home/footer.html.twig" %}
{% endblock %}
