{% extends 'base.html.twig' %}

{% block title %}New Smartphone{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-5">Create new Smartphone</h1>
        <div class="row justify-content-center">
                <div class="card card-new">
                    <div class="card-body row row-cols-2">
                        {{ include('smartphone/_form.html.twig') }}
                    </div>
                </div>
        </div>
        <div class="text-center mt-3">
            <a href="{{ path('app_smartphone_index') }}" class="btn btn-success col-6">Save</a>
        </div>
    </div>
{% endblock %}


